# ======================================
# Genral
# ===============================
.venv/
__pycache__/
*.pyc
.idea/
.vscode/*
.flake8

# ================================
# enviorment/secrets
# ==============================
.env
*.env.local
.env.*

# ==========================
# Docker
# ========================
# Ignore all container data
docker/**/data/
docker/**/config/
docker/**/logs/

# ======================
# DATA files (user relative)
# ===================
data/questions.jsonl
data/current_session.json
data/summaries/*

